$tokio-main: #ffebcd;
$tokio-red: #bb1e1e;

body {
    // font-family: 'PT Serif', serif;
    font-family: "Noto Sans JP", sans-serif;
}

.col-center {
    margin: 0 auto;
    float: none !important;
}

// #mangaCarousel {
//     height:100vh;
//     width:100%;
// }
.carousel {
    padding: 0 70px;
    .carousel-item {
        color: #999;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        min-height: 290px;
        .img-box {
            margin: 0 auto;
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 50%;
        }
    }
    .img-box {
        width: 60%;
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .testimonial {
        padding: 30px 0 10px;
    }
    .overview {
        font-style: italic;
        b {
            text-transform: uppercase;
            color: #7aa641;
        }
    }
}
.carousel-control-prev {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
    i {
        font-size: 68px;
        line-height: 42px;
        position: absolute;
        display: inline-block;
        color: rgba(0, 0, 0, 0.8);
        text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
    }
}
.carousel-control-next {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
    i {
        font-size: 68px;
        line-height: 42px;
        position: absolute;
        display: inline-block;
        color: rgba(0, 0, 0, 0.8);
        text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
    }
}
.carousel-indicators {
    bottom: -40px;
    li {
        width: 12px;
        height: 12px;
        margin: 1px 3px;
        border-radius: 50%;
        border: none;
        background: #999;
        border-color: transparent;
        box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    li.active {
        width: 12px;
        height: 12px;
        margin: 1px 3px;
        border-radius: 50%;
        border: none;
        background: #555;
        box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
    }
}

// .carousel-control-next,
// .carousel-control-prev /*, .carousel-indicators */ {
//     filter: invert(100%);
// }

// .carousel .carousel-indicators li {
//     background-color: #fff;
//     background-color: rgba(70,70,70,.25);
//   }

//   .carousel .carousel-indicators .active {
//     background-color: #444;
//   }

.br_on500 {
    display: none;
}

.main {
    background: $tokio-main;
    overflow-x: hidden;

    .sect01 {
        padding: 5vh 0;
        text-align: center;
        .sect01-top {
            margin: 3vh auto;
            h3 {
                line-height: 2em;
                font-size: 2em;
                font-weight: 800;
            }
            h4 {
                font-size: 2em;
                margin-top: 4vh;
                color: rgb(187, 30, 30);
                font-weight: bold;
            }
        }
        .sect01-01 {
            width: 85%;
            margin: 0 auto;
            .points {
                .inner {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    .text-top,
                    .text-bottom {
                        width: 100%;
                        // background:#737373;
                    }
                    .text-top {
                        margin-bottom: 10px;
                        position: relative;
                        z-index: 999;
                        h4 {
                            padding-bottom: 3px;
                            // z-index:999;
                            border-bottom: 1px solid #737373;
                        }
                    }
                    // .number {
                    //     position:absolute;
                    //     z-index: 1;
                    //     top:0;
                    //     right:-5%;
                    //     font-size: 5em;
                    //     font-family: 'Inconsolata', monospace;
                    //     color:rgba(255, 255, 255, 0.8);
                    //     text-shadow: 1px 3px 2px rgba(115, 115, 115, 0.33);
                    // }
                }
                .circle {
                    border-radius: 50%;
                    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.33);
                    border: 2px solid #fff;
                }
            }
            .card-header {
                padding: 5px 10px;
                background: #fff;
                h4 {
                    font-size: 1em;
                }
            }
            .card-image-text {
                position: relative;
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.25);
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        color: #fff;
                        font-size: 1.25em;
                        font-weight: bold;
                    }
                }
            }
        }
        .sect01-02 {
            margin: 4vh auto;
            padding: 3vh 0;
            background: #fff;
            font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
            h3 {
                margin-top: 3vh;
            }
            h4 {
                margin-top: 3vh;
                font-size: 2em;
                font-style: italic;
                font-weight: bold;
                span {
                    font-size: 1.5em;
                }
            }
        }
        .sect01-03 {
            margin: 4vh auto;
            // background:aquamarine;
            width: 100%;
            max-width: 900px;
            padding-top: calc(515 / 900);
            // margin:0 auto;
            h3 {
                line-height: 1.5em;
            }
            h5 {
                margin-top: 3vh;
                font-size: 1.25em;
            }
            h6 {
                font-size: 2em;
            }
            // padding:3vh 0;
            .points {
                // padding:10px;

                margin: 2vh auto;
                .contents {
                    // background:aquamarine;
                    background: rgb(224, 224, 224);
                    background: linear-gradient(180deg, rgba(224, 224, 224, 1) 0%, rgba(252, 252, 252, 1) 54%);
                    border: 1px solid #555;
                    border-radius: 50%;

                    padding: 10px;
                    height: 100%;
                    h4 {
                        font-size: 1em;
                        font-weight: 700;
                        color: rgb(25, 26, 45);
                        &::before {
                            content: "~";
                            font-family: "Font Awesome 5 Free";
                            content: "\f0d9";
                            padding-right: 4px;
                        }
                        &::after {
                            content: "~";
                            font-family: "Font Awesome 5 Free";
                            content: "\f0da";
                            padding-left: 4px;
                        }
                    }

                    h5 {
                        font-size: 1.25em;
                        margin-top: 5px;
                        span {
                            padding-bottom: 3px;
                            border-bottom: 1px solid rgb(65, 65, 65);
                        }
                    }
                    p {
                        // background:#fdde83;
                        // height:100%;
                        padding: 20px 5px;
                        font-weight: normal;
                        text-align: left;
                    }
                }
                .circle {
                    position: relative;
                    display: block;
                    margin: 2em 0;
                    background-color: transparent;
                    color: #222;
                    text-align: center;

                    &:after {
                        display: block;
                        padding-bottom: 100%;
                        width: 100%;
                        height: 0;
                        border-radius: 50%;
                        background-color: rgba(255, 242, 169, 0.77);
                        border: 2px solid rgb(255, 255, 255);
                        content: "";
                        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.33);
                    }
                }

                .circle__inner {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                .circle__wrapper {
                    display: table;
                    width: 100%;
                    height: 100%;
                }

                .circle__content {
                    display: table-cell;
                    padding: 1em;
                    vertical-align: middle;
                    h4 {
                        font-size: 1em;
                    }
                    h5.circleh5 {
                        font-size: 1.25em;
                        margin-top: 10px;
                        font-weight: 800;
                    }
                }
            }
            .bg {
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.4) 100%),
                    url("../images/tokio-home.jpg") no-repeat;
                background-position: center bottom;
                background-size: cover;
            }
        }
    }

    .sect02 {
        margin: 3vh auto;
        .section-strip {
            background: rgb(198, 198, 198);
            background: linear-gradient(0deg, #fdde83 0%, #ffecbf 100%);
            padding: 20px 0;
            h2.no-background {
                position: relative;
                overflow: hidden;
                font-size: 1.25em;
                font-family: "Klee One", cursive;
                span {
                    display: inline-block;
                    vertical-align: baseline;
                    zoom: 1;
                    *display: inline;
                    *vertical-align: auto;
                    position: relative;
                    padding: 0 20px;
                    color: #000;

                    &:before,
                    &:after {
                        content: "";
                        display: block;
                        width: 1000px;
                        position: absolute;
                        top: 0.73em;
                        border-top: 1px solid rgb(138, 124, 113);
                    }

                    &:before {
                        right: 100%;
                    }
                    &:after {
                        left: 100%;
                    }
                }
            }
        }
        .sect02-01 {
            margin: 4vh auto;
            // h2 {
            //     text-align: center;
            // }
            .voices {
                width: 100%;
                max-width: 800px;
                margin: 4vh auto;
                .v-col {
                    .content {
                        margin: 10px;
                        text-align: center;
                        background: #fff;
                        height: 100%;
                        box-shadow: 1px 3px 6px rgba(122, 122, 122, 0.7);
                        // padding:10px;
                        .top {
                            padding: 10px;
                            background: rgb(50, 50, 50);
                            h4 {
                                font-weight: 800;
                                color: #fff;
                            }
                        }
                        p {
                            color: #000;
                            font-size: 1.15em;
                            padding: 20px 10px;
                        }
                    }
                }
            }
            .plus {
                text-align: center;
                font-size: 3em;
                color: #fff;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.66);
            }
            h3 {
                text-align: center;
                line-height: 2em;
                margin-top: 10vh;
                margin-bottom: 10vh;
            }
            h4.bottom {
                text-align: center;
                line-height: 2em;
                // color:red;
                margin: 6vh 0 10vh;
            }
            h5 {
                margin-left: 20px;
                font-size: 1.5em;
            }
            h6.text5 {
                text-align: center;
                font-size: 1.5em;
                line-height: 2em;
                background: #fff;
                padding: 3vh 0;
                em {
                    font-style: normal;
                    font-size: 1.5em;
                    color: $tokio-red;
                }
                span {
                    font-size: 1.25em;
                    color: $tokio-red;
                    font-weight: 800;
                }
            }
            .product-info {
                width: 95%;
                // max-width:800px
                // background:#555;;
                margin: 8vh auto;
                padding: 20px;
                .parts {
                    // width:98%;
                    margin: 0 auto;
                    // padding:10px 5px;
                    background: #fff;
                    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.66);
                    // border:3px solid rgba(122, 122, 122,0.7);
                    .heading {
                        background: #737373;
                        h5 {
                            font-size: 1em;
                            // margin-left:0;
                            text-align: center;
                            padding: 15px 0;
                            color: #fff;
                            // border-bottom: 1px solid #9a9a9a;
                        }
                    }
                    .body {
                        padding: 15px 20px;
                        p {
                            font-size: 0.9em;
                            // padding:5px 7px;
                        }
                    }
                   
                }
                .circle {
                    position: relative;
                    display: block;
                    margin: 2em 0;
                    background-color: transparent;
                    color: #222;
                    text-align: center;

                    &:after {
                        display: block;
                        padding-bottom: 100%;
                        width: 100%;
                        height: 0;
                        border-radius: 50%;
                        background-color: rgba(255, 242, 169, 0.77);
                        border: 2px solid rgb(255, 255, 255);
                        content: "";
                        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.33);
                    }
                }

                .circle__inner {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                .circle__wrapper {
                    display: table;
                    width: 100%;
                    height: 100%;
                }

                .circle__content {
                    display: table-cell;
                    padding: 1em;
                    vertical-align: middle;
                    p {
                        font-size: 0.75em;
                    }
                    h5 {
                        font-size: 0.9em;
                        // margin-top: 10px;
                        font-weight: 800;
                        margin:0;
                        margin-bottom:10px;
                    }
                }
            }
        }
    }

    .sect03 {
        height: 100%;
        // height:calc(100vh - 62.5px);
        // background:rgb(143, 143, 230);
        background: #ffebcd;
        position: relative;
        .sect03-title {
            position: absolute;
            top: 6%;
            left: 5%;
            transform: rotate(-15deg);
            z-index: 8;
            h2 {
                color: rgb(187, 30, 30);
                background: rgb(255, 255, 255);
                padding: 5px 10px;
                box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.8);
            }
        }
        .container-fluid {
            padding: 40px 0;
            .carousel {
                // height:100%;
                .carousel-item {
                    // height:calc(100vh - 62.5px);
                    .manga {
                        // width:60%;
                        // min-height:75vh;

                        margin: 0 auto;
                        // padding:30px 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // position: relative;
                        img {
                            max-height: calc(100vh - 80px);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    .sect04 {
        padding: 0 0 6vh;
        background: #fff;
        .section-strip {
            background: rgb(198, 198, 198);
            background: linear-gradient(0deg, #fdde83 0%, #ffecbf 100%);
            padding: 20px 0;
            h2.no-background {
                position: relative;
                overflow: hidden;
                font-size: 1.25em;
                font-family: "Klee One", cursive;
                span {
                    display: inline-block;
                    vertical-align: baseline;
                    zoom: 1;
                    *display: inline;
                    *vertical-align: auto;
                    position: relative;
                    padding: 0 20px;
                    color: #000;

                    &:before,
                    &:after {
                        content: "";
                        display: block;
                        width: 1000px;
                        position: absolute;
                        top: 0.73em;
                        border-top: 1px solid rgb(138, 124, 113);
                    }

                    &:before {
                        right: 100%;
                    }
                    &:after {
                        left: 100%;
                    }
                }
            }
        }
        h3 {
            text-align: center;
            line-height: 2em;
            margin-top: 6vh;
        }
        .steps {
            margin: 10vh auto;
            width: 100%;
            max-width: 560px;
            // background:#4f4f4f;
            padding: 20px 10px;

            .inner {
                display: flex;
                align-items: center;

                .text-area {
                    .text-top {
                        border-bottom: 1px solid rgb(138, 124, 113);
                        h5 {
                            font-size: 1.25em;
                            position: relative;

                            span {
                                // text-shadow: 1px 3px 6px rgba(0,0,0,0.88);
                                color: rgba(178, 178, 178, 0.6);
                                font-size: 2.5em;
                            }
                            em {
                                position: absolute;
                                top: 1px;
                                left: 1px;
                                font-size: 0.2em;
                            }
                        }
                    }
                }
            }
            img {
                box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.66);
            }
        }
    }

    .sect05 {
        #section05-01 {
            text-align: center;
            margin: 4vh auto;
            font-size: 2em;
        }
        .container {
            .section05-manga {
                .quote {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        padding: 20px;
                        background: rgba(122, 122, 122, 0.7);
                        color: #fff;
                    }
                }
            }
            h4 {
                text-align: center;
                margin: 4vh 0;
            }
            .text-area {
                display: none;
            }
            .link-to {
                position: relative;
                img {
                    border-radius: 10px;
                    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.33);
                }
                &:hover > .text-area {
                    display: block;
                    background: rgba(122, 122, 122, 0.33);
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                    margin-top: auto;
                    margin-bottom: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }

    .sect06 {
        padding-bottom: 10vh;
        h3 {
            text-align: center;
        }
        #section06-01 {
            text-align: center;
            h4 {
                line-height: 2em;
            }
        }
        .to-link {
            margin-top: 5vh;
            text-align: center;
            padding: 5px 10px;
            // background:red;
            a {
                background: rgb(138, 124, 113);
                border-radius: 5px;
                background: linear-gradient(60deg, rgba(138, 124, 113, 1) 0%, rgba(180, 159, 140, 1) 100%);
                color: #fff;
                padding: 10px 20px;
                font-size: 1.5em;
                &:hover {
                    text-decoration: underline;
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.66);
                    background: rgb(228, 226, 224);
                    background: linear-gradient(60deg, rgba(228, 226, 224, 1) 0%, rgba(218, 193, 169, 1) 100%);
                }
            }
        }
        .video-area {
            video {
                width: 100% !important;
                height: auto !important;
            }
        }
    }

    .sect09 {
        background: rgb(170, 170, 170);
        #section09 {
            padding: 12vh 0;
            background: #fff;
        }
        #section05-01 {
            text-align: center;
            margin: 4vh auto;
            font-size: 2em;
        }
        .container {
            .section05-manga {
                .quote {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .text {
                        background: rgba(122, 122, 122, 0.7);
                        border-bottom: 3px solid #545454;
                        p {
                            padding: 20px;
                            color: #fff;
                            margin-bottom: 0;
                            font-family: "Klee One", cursive;
                        }
                    }
                }
            }
            h4 {
                text-align: center;
                margin: 4vh 0;
                line-height: 2em;
            }
            .text-area {
                display: none;
            }
            .link-to {
                position: relative;
                img {
                    border-radius: 10px;
                    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.33);
                }
                &:hover > .text-area {
                    display: block;
                    background: rgba(122, 122, 122, 0.33);
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                    margin-top: auto;
                    margin-bottom: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        color: #fff;
                    }
                }
            }
            .reserve {
                margin: 8vh auto;
            }
        }
    }

    .sect10 {
        // background:$limited-light;
        .section-strip {
            background: rgb(198, 198, 198);
            background: linear-gradient(0deg, #fdde83 0%, #ffecbf 100%);
            padding: 20px 0;
            h2.no-background {
                position: relative;
                overflow: hidden;
                font-size: 1.25em;
                font-family: "Klee One", cursive;
                span {
                    display: inline-block;
                    vertical-align: baseline;
                    zoom: 1;
                    *display: inline;
                    *vertical-align: auto;
                    position: relative;
                    padding: 0 20px;
                    color: #000;

                    &:before,
                    &:after {
                        content: "";
                        display: block;
                        width: 1000px;
                        position: absolute;
                        top: 0.73em;
                        border-top: 1px solid rgb(138, 124, 113);
                    }

                    &:before {
                        right: 100%;
                    }
                    &:after {
                        left: 100%;
                    }
                }
            }
        }
        .section10-01 {
            margin: 5vh auto;
            text-align: center;
            h3 {
                line-height: 2em;
                font-family: "Klee One", cursive;
                margin: 3vh auto 6vh;
            }
            .pics {
                width: 75%;
                margin: 0 auto;
            }
        }
        .to-link {
            margin-top: 5vh;
            text-align: center;
            padding: 5px 10px;
            // background:red;
            a {
                background: rgb(138, 124, 113);
                border-radius: 5px;
                background: linear-gradient(60deg, rgba(138, 124, 113, 1) 0%, rgba(180, 159, 140, 1) 100%);
                color: #fff;
                padding: 10px 20px;
                font-size: 1.5em;
                &:hover {
                    text-decoration: underline;
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.66);
                    background: rgb(228, 226, 224);
                    background: linear-gradient(60deg, rgba(228, 226, 224, 1) 0%, rgba(218, 193, 169, 1) 100%);
                }
            }
        }
        .video-area {
            width: 75%;
            margin: 0 auto 3vh;
            video {
                width: 100% !important;
                height: auto !important;
            }
        }
    }
}

.footer {
    padding: 3vh 0;
    background: rgb(30, 30, 30);
    color: #fff;
    .container {
        .links {
            width: 100%;
            max-width: 420px;
            margin: 0 auto;
            padding-top: 2vh;
            ul {
                list-style: none;
                padding: 0;
                li {
                    // display: inline-block;
                    font-size: 0.8em;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .main {
        .sect01 {
            .sect01-01 {
                width: 100%;
                .card-header {
                    h4 {
                        font-size: 0.8em;
                    }
                }
                .card-image-text {
                    .overlay {
                        padding: 10px;
                        p {
                            font-size: 0.9em;
                        }
                    }
                }
            }
            // .sect01-03 {

            // }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 768px;
    }

    .main {
        .sect02 {
            .sect02-01 {
                .product-info {
                    .img {
                        margin: 4vh auto;
                    }
                }
            }
        }
        .sect03 {
            // height:100%;
            // height:100vh;
            // background:rgb(143, 143, 230);
            .sect03-title {
                top: 5%;
                left: 1%;
                h2 {
                    font-size: 1.25em;
                }
            }
            .container {
                padding: 20px 0;
                .carousel {
                    height: 100%;
                    .carousel-item {
                        height: calc(100vh - 62.5px);
                        .manga {
                            // width:60%;
                            min-height: 75vh;

                            margin: -20px auto;
                            // padding:30px 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // position: relative;
                            img {
                                max-height: calc(100vh - 80px);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .carousel {
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .br_on500 {
        display: block;
    }
    .main {
        .sect01 {
            .sect01-top {
                h3 {
                    font-size: 1.25em;
                    // color:red;
                }
            }
            .sect01-02 {
                h3 {
                    font-size: 1.5em;
                }
                h4 {
                    font-size: 1.5em;
                }
            }
            .sect01-03 {
                h3 {
                    font-size: 1.25em;
                    line-height: 2em;
                }
                h6 {
                    font-size: 1.5em;
                    line-height: 2em;
                }
            }
        }
        .sect02 {
            .section-strip {
                h2.no-background {
                    span {
                        font-size: 0.7em;
                    }
                }
            }
            .sect02-01 {
                h3 {
                    font-size: 1.25em;
                }
                h4.bottom {
                    font-size: 1.25em;
                }
            }
        }
        .sect04 {
            .section-strip {
                h2.no-background {
                    span {
                        font-size: 0.7em;
                    }
                }
            }
            h3 {
                font-size: 1.5em;
            }
        }
        // .sect09 {
        //     .container {
        //         h4 {
        //             font-size: 1.25em;
        //         }
        //     }
        // }
        .sect10 {
            .section-strip {
                h2.no-background {
                    span {
                        font-size: 0.7em;
                    }
                }
            }
            .section10-01 {
                .pics {
                    width: 100%;
                }
                h3 {
                    font-size: 1.25em;
                }
            }
            .video-area {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 428px) {
    .main {
        .sect01 {
            .sect01-top {
                h3 {
                    font-size: 1.1em;
                    // color:red;
                }
                h4 {
                    font-size: 1.25em;
                }
            }
            .sect01-02 {
                h3 {
                    font-size: 1.25em;
                }
                h4 {
                    font-size: 1.25em;
                }
            }
            .sect01-03 {
                h3 {
                    font-size: 1.25em;
                    line-height: 2em;
                }
                h6 {
                    font-size: 1.5em;
                    line-height: 2em;
                }
            }
        }
        .sect02 {
            .section-strip {
                h2.no-background {
                    span {
                        font-size: 0.6em;
                    }
                }
            }
            .sect02-01 {
                h3 {
                    font-size: 1.25em;
                }
                h4.bottom {
                    font-size: 1.25em;
                }
                h6.text5 {
                    font-size: 1.25em;
                }
            }
        }
        .sect04 {
            .section-strip {
                h2.no-background {
                    span {
                        font-size: 0.7em;
                    }
                }
            }
            h3 {
                font-size: 1.5em;
            }
        }
        .sect10 {
            .section10-01 {
                h3 {
                    font-size: 1em;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .main {
        .sect10 {
            .section10-01 {
                h3 {
                    font-size: 1em;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .main {
        .sect02 {
            .section-strip {
                h2.no-background {
                    span {
                        font-size: 0.6em;
                    }
                }
            }
            .sect02-01 {
                h3 {
                    font-size: 1.05em;
                }
                h4.bottom {
                    font-size: 1.05em;
                }
                h6.text5 {
                    font-size: 1.05em;
                }
            }
        }
        .sect04 {
            .section-strip {
                h2.no-background {
                    span {
                        font-size: 0.7em;
                    }
                }
            }
            h3 {
                font-size: 1.25em;
            }
        }
        .sect09 {
            .container {
                h4 {
                    font-size: 1.25em;
                }
                h3 {
                    font-size: 1.25em;
                }
            }
        }
        .sect10 {
            .section10-01 {
                h3 {
                    font-size: 1em;
                }
            }
        }
    }
}
