@charset "UTF-8";
body {
  font-family: "Shippori Mincho", serif;
}

.col-center {
  margin: 0 auto;
  float: none !important;
}

.carousel {
  padding: 0 70px;
}
.carousel .carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}
.carousel .carousel-item .img-box {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box {
  width: 60%;
  margin: 0 auto;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.carousel .overview {
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #7AA641;
}

.carousel-control-prev {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control-prev i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel-control-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control-next i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  margin: 1px 3px;
  border-radius: 50%;
  border: none;
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
  width: 12px;
  height: 12px;
  margin: 1px 3px;
  border-radius: 50%;
  border: none;
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.main {
  background: #FFEBCD;
  overflow-x: hidden;
}
.main .sect01 {
  padding: 5vh 0;
  text-align: center;
}
.main .sect01 .sect01-top {
  margin: 3vh auto;
}
.main .sect01 .sect01-top h3 {
  line-height: 2em;
  font-size: 1.5em;
}
.main .sect01 .sect01-top h4 {
  font-size: 2em;
  margin-top: 4vh;
  color: #bb1e1e;
  font-weight: bold;
}
.main .sect01 .sect01-01 {
  width: 85%;
  margin: 0 auto;
}
.main .sect01 .sect01-01 .card-header {
  padding: 5px 10px;
  background: #fff;
}
.main .sect01 .sect01-01 .card-header h4 {
  font-size: 1em;
}
.main .sect01 .sect01-01 .card-image-text {
  position: relative;
}
.main .sect01 .sect01-01 .card-image-text .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.main .sect01 .sect01-01 .card-image-text .overlay p {
  color: #fff;
  font-size: 1.25em;
  font-weight: bold;
}
.main .sect01 .sect01-02 {
  margin: 4vh auto;
}
.main .sect01 .sect01-02 h3 {
  margin-top: 3vh;
}
.main .sect01 .sect01-02 h4 {
  margin-top: 3vh;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
}
.main .sect01 .sect01-02 h4 span {
  font-size: 1.5em;
}
.main .sect01 .sect01-03 {
  margin: 4vh auto;
  width: 100%;
  max-width: 900px;
  padding-top: calc(515/900);
}
.main .sect01 .sect01-03 h3 {
  line-height: 1.5em;
}
.main .sect01 .sect01-03 h5 {
  margin-top: 3vh;
}
.main .sect01 .sect01-03 .points {
  margin: 2vh auto;
}
.main .sect01 .sect01-03 .points .contents {
  background: #e0e0e0;
  background: linear-gradient(180deg, #e0e0e0 0%, #fcfcfc 54%);
  border: 1px solid #555;
  padding: 10px;
  height: 100%;
}
.main .sect01 .sect01-03 .points .contents h4 {
  font-size: 1em;
  font-weight: 700;
  color: #191a2d;
}
.main .sect01 .sect01-03 .points .contents h4::before {
  content: "~";
  font-family: "Font Awesome 5 Free";
  content: "";
  padding-right: 4px;
}
.main .sect01 .sect01-03 .points .contents h4::after {
  content: "~";
  font-family: "Font Awesome 5 Free";
  content: "";
  padding-left: 4px;
}
.main .sect01 .sect01-03 .points .contents h5 {
  font-size: 1.25em;
  margin-top: 5px;
}
.main .sect01 .sect01-03 .points .contents h5 span {
  padding-bottom: 3px;
  border-bottom: 1px solid #414141;
}
.main .sect01 .sect01-03 .points .contents p {
  padding: 20px 5px;
  font-weight: normal;
  text-align: left;
}
.main .sect02 {
  margin: 3vh auto;
}
.main .sect02 .section-strip {
  background: #c6c6c6;
  background: linear-gradient(0deg, #fdde83 0%, #ffecbf 100%);
  padding: 20px 0;
}
.main .sect02 .section-strip h2.no-background {
  position: relative;
  overflow: hidden;
  font-size: 1.25em;
  font-family: "Klee One", cursive;
}
.main .sect02 .section-strip h2.no-background span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
  color: #000;
}
.main .sect02 .section-strip h2.no-background span:before, .main .sect02 .section-strip h2.no-background span:after {
  content: "";
  display: block;
  width: 1000px;
  position: absolute;
  top: 0.73em;
  border-top: 1px solid #8a7c71;
}
.main .sect02 .section-strip h2.no-background span:before {
  right: 100%;
}
.main .sect02 .section-strip h2.no-background span:after {
  left: 100%;
}
.main .sect02 .sect02-01 {
  margin: 4vh auto;
}
.main .sect02 .sect02-01 .voices {
  width: 100%;
  max-width: 800px;
  margin: 4vh auto;
}
.main .sect02 .sect02-01 .voices .v-col .content {
  margin: 10px;
  text-align: center;
  background: #fff;
  height: 100%;
  box-shadow: 1px 3px 6px rgba(122, 122, 122, 0.7);
}
.main .sect02 .sect02-01 .voices .v-col .content .top {
  padding: 10px;
  background: #323232;
}
.main .sect02 .sect02-01 .voices .v-col .content .top h4 {
  font-weight: 800;
  color: #fff;
}
.main .sect02 .sect02-01 .voices .v-col .content p {
  color: #000;
  font-size: 1.15em;
  padding: 20px 10px;
}
.main .sect02 .sect02-01 .plus {
  text-align: center;
  font-size: 3em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.66);
}
.main .sect02 .sect02-01 h3 {
  text-align: center;
  line-height: 2em;
}
.main .sect02 .sect02-01 h4 {
  text-align: center;
  line-height: 2em;
}
.main .sect02 .sect02-01 h5 {
  margin-left: 20px;
  font-size: 1.5em;
}
.main .sect02 .sect02-01 h6.text5 {
  text-align: center;
  font-size: 1.5em;
  line-height: 2em;
  background: #fff;
  padding: 3vh 0;
}
.main .sect02 .sect02-01 h6.text5 em {
  font-style: normal;
  font-size: 1.5em;
  color: #bb1e1e;
}
.main .sect02 .sect02-01 h6.text5 span {
  font-size: 1.25em;
  color: #bb1e1e;
  font-weight: 800;
}
.main .sect02 .sect02-01 .product-info {
  width: 95%;
  margin: 8vh auto;
  padding: 20px;
}
.main .sect02 .sect02-01 .product-info .parts {
  margin: 0 auto;
  background: #fff;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.66);
}
.main .sect02 .sect02-01 .product-info .parts .heading {
  background: #737373;
}
.main .sect02 .sect02-01 .product-info .parts .heading h5 {
  font-size: 1em;
  text-align: center;
  padding: 15px 0;
  color: #fff;
}
.main .sect02 .sect02-01 .product-info .parts .body {
  padding: 15px 20px;
}
.main .sect02 .sect02-01 .product-info .parts .body p {
  font-size: 0.9em;
}
.main .sect03 {
  height: 100%;
  background: #FFEBCD;
  position: relative;
}
.main .sect03 .sect03-title {
  position: absolute;
  top: 6%;
  left: 5%;
  transform: rotate(-15deg);
  z-index: 8;
}
.main .sect03 .sect03-title h2 {
  color: #bb1e1e;
  background: white;
  padding: 5px 10px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.8);
}
.main .sect03 .container-fluid {
  padding: 40px 0;
}
.main .sect03 .container-fluid .carousel .carousel-item .manga {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .sect03 .container-fluid .carousel .carousel-item .manga img {
  max-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .sect04 {
  padding: 0 0 6vh;
  background: #fff;
}
.main .sect04 .section-strip {
  background: #c6c6c6;
  background: linear-gradient(0deg, #fdde83 0%, #ffecbf 100%);
  padding: 20px 0;
}
.main .sect04 .section-strip h2.no-background {
  position: relative;
  overflow: hidden;
  font-size: 1.25em;
  font-family: "Klee One", cursive;
}
.main .sect04 .section-strip h2.no-background span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
  color: #000;
}
.main .sect04 .section-strip h2.no-background span:before, .main .sect04 .section-strip h2.no-background span:after {
  content: "";
  display: block;
  width: 1000px;
  position: absolute;
  top: 0.73em;
  border-top: 1px solid #8a7c71;
}
.main .sect04 .section-strip h2.no-background span:before {
  right: 100%;
}
.main .sect04 .section-strip h2.no-background span:after {
  left: 100%;
}
.main .sect04 h3 {
  text-align: center;
  line-height: 2em;
  margin-top: 6vh;
}
.main .sect04 .steps {
  margin: 10vh auto;
}
.main .sect04 .steps .step-col {
  margin-bottom: 20px;
}
.main .sect04 .steps .step-col .img {
  border: 1px solid #000;
}
.main .sect04 .steps .step-col .text {
  margin-top: 2vh;
  padding: 10px;
  border: 1px solid #202020;
}
.main .sect04 .steps .step-col .text h6 {
  margin-left: 5px;
}
.main .sect04 .steps .step-col .text p {
  color: #202020;
}
.main .sect05 #section05-01 {
  text-align: center;
  margin: 4vh auto;
  font-size: 2em;
}
.main .sect05 .container .section05-manga .quote {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .sect05 .container .section05-manga .quote p {
  padding: 20px;
  background: rgba(122, 122, 122, 0.7);
  color: #fff;
}
.main .sect05 .container h4 {
  text-align: center;
  margin: 4vh 0;
}
.main .sect05 .container .text-area {
  display: none;
}
.main .sect05 .container .link-to {
  position: relative;
}
.main .sect05 .container .link-to img {
  border-radius: 10px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.33);
}
.main .sect05 .container .link-to:hover > .text-area {
  display: block;
  background: rgba(122, 122, 122, 0.33);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .sect05 .container .link-to:hover > .text-area a {
  color: #fff;
}
.main .sect06 {
  padding-bottom: 10vh;
}
.main .sect06 h3 {
  text-align: center;
}
.main .sect06 #section06-01 {
  text-align: center;
}
.main .sect06 #section06-01 h4 {
  line-height: 2em;
}
.main .sect06 .to-link {
  margin-top: 5vh;
  text-align: center;
  padding: 5px 10px;
}
.main .sect06 .to-link a {
  background: #8a7c71;
  border-radius: 5px;
  background: linear-gradient(60deg, #8a7c71 0%, #b49f8c 100%);
  color: #fff;
  padding: 10px 20px;
  font-size: 1.5em;
}
.main .sect06 .to-link a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.66);
  background: #e4e2e0;
  background: linear-gradient(60deg, #e4e2e0 0%, #dac1a9 100%);
}
.main .sect06 .video-area video {
  width: 100% !important;
  height: auto !important;
}
.main .sect09 {
  background: #aaaaaa;
}
.main .sect09 #section09 {
  padding: 12vh 0;
  background: #fff;
}
.main .sect09 #section05-01 {
  text-align: center;
  margin: 4vh auto;
  font-size: 2em;
}
.main .sect09 .container .section05-manga .quote {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .sect09 .container .section05-manga .quote .text {
  background: rgba(122, 122, 122, 0.7);
  border-bottom: 3px solid #545454;
}
.main .sect09 .container .section05-manga .quote .text p {
  padding: 20px;
  color: #fff;
  margin-bottom: 0;
  font-family: "Klee One", cursive;
}
.main .sect09 .container h4 {
  text-align: center;
  margin: 4vh 0;
  line-height: 2em;
}
.main .sect09 .container .text-area {
  display: none;
}
.main .sect09 .container .link-to {
  position: relative;
}
.main .sect09 .container .link-to img {
  border-radius: 10px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.33);
}
.main .sect09 .container .link-to:hover > .text-area {
  display: block;
  background: rgba(122, 122, 122, 0.33);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .sect09 .container .link-to:hover > .text-area a {
  color: #fff;
}
.main .sect09 .container .reserve {
  margin: 8vh auto;
}
.main .sect10 .section-strip {
  background: #c6c6c6;
  background: linear-gradient(0deg, #fdde83 0%, #ffecbf 100%);
  padding: 20px 0;
}
.main .sect10 .section-strip h2.no-background {
  position: relative;
  overflow: hidden;
  font-size: 1.25em;
  font-family: "Klee One", cursive;
}
.main .sect10 .section-strip h2.no-background span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
  color: #000;
}
.main .sect10 .section-strip h2.no-background span:before, .main .sect10 .section-strip h2.no-background span:after {
  content: "";
  display: block;
  width: 1000px;
  position: absolute;
  top: 0.73em;
  border-top: 1px solid #8a7c71;
}
.main .sect10 .section-strip h2.no-background span:before {
  right: 100%;
}
.main .sect10 .section-strip h2.no-background span:after {
  left: 100%;
}
.main .sect10 .section10-01 {
  margin: 5vh auto;
  text-align: center;
}
.main .sect10 .section10-01 h3 {
  line-height: 2em;
  font-family: "Klee One", cursive;
}
.main .sect10 .section10-01 .pics {
  width: 75%;
  margin: 0 auto;
}
.main .sect10 .to-link {
  margin-top: 5vh;
  text-align: center;
  padding: 5px 10px;
}
.main .sect10 .to-link a {
  background: #8a7c71;
  border-radius: 5px;
  background: linear-gradient(60deg, #8a7c71 0%, #b49f8c 100%);
  color: #fff;
  padding: 10px 20px;
  font-size: 1.5em;
}
.main .sect10 .to-link a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.66);
  background: #e4e2e0;
  background: linear-gradient(60deg, #e4e2e0 0%, #dac1a9 100%);
}
.main .sect10 .video-area {
  width: 75%;
  margin: 0 auto 3vh;
}
.main .sect10 .video-area video {
  width: 100% !important;
  height: auto !important;
}

.footer {
  padding: 3vh 0;
  background: #1e1e1e;
  color: #fff;
}
.footer .container .links {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding-top: 2vh;
}
.footer .container .links ul {
  list-style: none;
  padding: 0;
}
.footer .container .links ul li {
  font-size: 0.8em;
}
.footer .container .links ul li a {
  color: #fff;
}

@media screen and (max-width: 992px) {
  .main .sect01 .sect01-01 {
    width: 100%;
  }
  .main .sect01 .sect01-01 .card-header h4 {
    font-size: 0.8em;
  }
  .main .sect01 .sect01-01 .card-image-text .overlay {
    padding: 10px;
  }
  .main .sect01 .sect01-01 .card-image-text .overlay p {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .main .sect02 .sect02-01 .product-info .img {
    margin: 4vh auto;
  }
  .main .sect03 .sect03-title {
    top: 5%;
    left: 1%;
  }
  .main .sect03 .sect03-title h2 {
    font-size: 1.25em;
  }
  .main .sect03 .container {
    padding: 20px 0;
  }
  .main .sect03 .container .carousel {
    height: 100%;
  }
  .main .sect03 .container .carousel .carousel-item {
    height: calc(100vh - 62.5px);
  }
  .main .sect03 .container .carousel .carousel-item .manga {
    min-height: 75vh;
    margin: -20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main .sect03 .container .carousel .carousel-item .manga img {
    max-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel {
    padding: 0;
  }
}

/*# sourceMappingURL=main.css.map */
